body {
width:100%;
height:100%;
margin: 0 auto;
}
.menu-principal {
width:100%;
background-color: #83be8e;
height:60px;
margin: 0 auto;
border-bottom: 3px solid #83be8e;
}
main {
margin: 0 auto;
width:980px;
position:relative;
}
.logo {
float:left;
padding:15px;
width:65%;
}
.redes-sociais ul li {
margin-left:9px;
display:inline-block;
list-style:none;
float:left;
}
.redes-sociais{
width:20%;
float:right;
}
.header-2{
background-color: rgb(255, 255, 237);
width:100%;
padding: 15px;
}
.menu-urls{
height:75px;
border-bottom:3px solid #efeec9;
background-color: rgb(255, 255, 237);
}
.menu ul li {
display: inline-block;
margin-left:155px;
height:45px;
}
.menu ul li:hover{
border-bottom: 2px solid #83be8e;
}
.menu ul li a:hover{
color:#83be8e;
}
.menu ul li a {
text-decoration: none;
color: rgba(90, 74, 26, 0.75);
font-size: 15px;
font-family: Montserrat, sans-serif;
text-transform: uppercase;
}
.menu{
width: 65%;
float: left;
}
.busca {
margin-top:13px;
width: 30%;
float: right;
border-style: hidden;
}
.busca input{
height: 25px;
padding:10px;
width:190px;
text-align: left;
border: 1px solid #d6d6d6;
border-color: #d6d6d6;
}
.col-100{
width: 100%;
float:left;
position:relative;
}
